<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/vilda/Projects-autotests/litres-selenium-test">
        <classes>
            <class name="com.vildanova.tests.FirstTests"></class>
            <class name="com.vildanova.tests.SecondTests"></class>
        </classes>
    </test>
</suite>